@import url('normailze.css');

:root {
  /* Colors */
  /* Primary */
  --Blue: hsl(223, 87%, 63%);

  /* Secondary */
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);

  /* Neutreal */

  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --Gray-light: hsl(0, 24%, 96%);

  /* Font Family */

  --font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: var(--Gray-light);
  font-family: var(--font-family);
  font-size: 26px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

/* Header elements */

.head-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem 1rem;
}
.info-container {
  text-align: center;
}
.title {
  font-weight: 600;
}
.info {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Gray);
}

.importance {
  color: var(--Very-Dark-Blue);
}

.info-subscribe {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 3rem 0;
}

/* form */

.form-info {
  max-width: 100vw;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.email-input {
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 50px;
  border: 1px solid var(--Gray);
}

::placeholder {
  font-size: 1rem;
  color: var(--Gray);
}

.notification-button {
  width: 270px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: var(--Blue);
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

/* main */

.main-container {
  max-width: 100vw;
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}

.main-img {
  max-width: 95vw;
  margin: auto;
}

/* footer */

.footer-container {
  max-width: 100vw;
}

.socia-media-container {
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
  gap: 40px;
}
a {
  max-width: 2rem;
  max-height: 2rem;
  flex: 1;
}
.facebook,
.x,
.instagram {
  min-width: 1rem;
  min-height: 1rem;
  border: 1px solid var(--Gray);
  border-radius: 100%;
  padding: 0.6rem;
}
.instagram,
.x {
  min-height: 1.6rem;
}
.copyright {
  font-size: 1rem;
  text-align: center;
  margin: 3rem 0 3rem 0;
  color: var(--Gray);
  font-size: 1rem;
}

/* Media queris  */

@media screen and (min-width: 600px) {
  .head-info-container {
    display: flex;
    max-width: 100vw;
  }

  .notification-button {
    width: 170px;
  }
  .form-btn-container {
    display: flex;
    gap: 20px;
  }
  .notification-button {
    margin-bottom: 1rem;
    padding: 0.8rem;
  }
  .info-container {
    text-align: center;
  }
  .info {
    font-size: 2.5rem;
  }
}
