@import 'normalize.css';

:root {
  /* Colors */
  /* Primary */
  --Blue: hsl(223, 87%, 63%);

  /* Secondary */
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);

  /* Neutreal */

  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --Gray-light: hsl(0, 24%, 96%);

  /* Font Family */

  --font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: var(--Gray-light);
  font-family: var(--font-family);
  font-size: 26px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
