@import 'normalize.css';

:root {
  /* Colors */
  /* Primary */
  --Blue: hsl(223, 87%, 63%);

  /* Secondary */
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);

  /* Neutreal */

  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --Gray-light: hsl(0, 24%, 96%);

  /* Font Family */

  --font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: var(--Gray-light);
  font-family: var(--font-family);
  font-size: 26px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

/* Header elements */

.head-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem 1rem;
}
.title {
  font-weight: 600;
}
.info {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Gray);
}

.importance {
  color: var(--Very-Dark-Blue);
}

.info-subscribe {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 3rem 0;
}

.form-info {
  max-width: 100vw;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.email-input {
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  border-radius: 50px;
  border: 1px solid var(--Gray);
}

::placeholder {
  font-size: 1rem;
  color: var(--Gray);
}

.notification-button {
  width: 270px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: var(--Blue);
  color: white;
  padding: 1rem;
  font-size: 1rem;
}
